doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Narkoba

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 Narkoba
        h5 Say No To Drugs

      section
        h2 Pengertian Narkoba
        h3 ======================
        ul
          li Narkoba adalah singkatan dari narkotika dan obat/bahan berbahaya

      section
        h2 Berdasarkan Efek
        ul
          li 
            h3 Narkoba di kelompokan
          li Halusinogen
          li Stimulan
          li Depresan
          li Adiktif

      section
        h2 Jenis - jenis Narkoba
        ul
          li Heroin
          li Ganja

      section
        h2 Dampak Narkoba
        h3 Dampak Terhadap Fisik
        ul 
          li -Berat badan akan turun secara drastis
          li -Mata akan terlihat cekung dan merah
          li -muka pucat
          li -Bibirnya menjadi kehitaman

      section
        h2 Dampak Terhadap Emosi
        ul
          li Sangat sensitif dan mudah bosan
          li Emosi tidak stabil
          li Kehilangan nafsu makan
            
      section 
        h2 Dampak terhadap Perilaku
        ul
          li Malas
          li sering Melupakan tanggung jawab 
          li jarang mengerjakan tugas-tugas rutinya
          li Menjauh dari orang tua (Masyaallah)
      

    script(src='build/build.js')